.test {
    width: 100vw;
    height: 500vw;
    background: url(./a7ef87723c4038d9566cbab55b7774c1.jpg) no-repeat top center/cover;
}
.cookie-pop {
    overflow: hidden;
}
.cookie-pop .dim {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2000;
}
.cookie-pop .step01 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    max-width: 454px;
    max-height: 80vh;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    background: #fff;
    z-index: 3000;
}
.cookie-pop .step01 .inner {
    padding: 25px 33px 33px;
}
.cookie-pop .step01 .title {
    margin-bottom: 16px;
}
.cookie-pop .step01 .title strong {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1.5;
}
.cookie-pop .step01 .info {
    margin-bottom: 30px;
    max-height: calc(80vh - 285px);
    overflow-y: auto;
}
.cookie-pop .step01 .info p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1.5;
}
.cookie-pop .step01 .info p:first-child {
    margin-bottom: 12px;
}
.cookie-pop .step01 .btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}
.cookie-pop .step01 .btn-wrap button {
    width: 100%;
    height: 44px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #fff;
    background: #222;
}
.cookie-pop .step01 .btn-wrap button:last-child {
    margin-top: 14px;
    color: #000;
    border: 1px solid #222;
    background: #fff;
}
.cookie-pop .step02 {
    position: fixed;
    top: 0;
    right: -150%;
    max-width: 454px;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100); /* Safari 대응 */
    background: #fff;
    z-index: 3000;
    transition: all .5s;
}
.cookie-pop .step02.on {
    right: 0;
}
.cookie-pop .step02 .inner {
    width: 100%;
    height: 100%;
    padding: 40px 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.cookie-pop .step02 .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.cookie-pop .step02 .title strong {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1.5;
    color: #222;
}
.cookie-pop .step02 .title .close-btn {
    width: 20px;
    height: 20px;
    background: url(./cookie_close.png) no-repeat center/contain;
}
.cookie-pop .step02 .item:nth-of-type(1) {
    margin-bottom: 30px;
}
.cookie-pop .step02 .item .item-wrap {
    max-height: calc((var(--vh, 1vh) * 100) - 302px); /* Safari 대응 */
    overflow-y: auto;
}
.cookie-pop .step02 .item .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.cookie-pop .step02 .item .top strong {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1.5;
    color: #222;
}
.cookie-pop .step02 .item .top span {
    font-size: 14px;
    color: #ED1C24;
}
.cookie-pop .step02 .item .info {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1.5;
}
.cookie-pop .step02 .btn-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}
.cookie-pop .step02 .btn-wrap button {
    width: 100%;
    height: 44px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #fff;
    background: #222;
}
.cookie-pop .step02 .btn-wrap button:first-child {
    margin-bottom: 2px;
    color: #000;
    border: 1px solid #222;
    background: #fff;
}

/* 토글(스위치) 버튼 */
.cookie-pop .switch-wrap {
    display: inline-flex;
}
.cookie-pop .switch-wrap label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.cookie-pop .switch-wrap label input[type="checkbox"] {
    appearance: none;
    position: relative;
    border: 1px solid #222;
    border-radius: 20px;
    background: #fff;
    width: 34px;
    height: 21px;
    cursor: pointer;
}
.cookie-pop .switch-wrap label input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #222;
    transition: all 0.25s linear;
    z-index: 1;
}
.cookie-pop .switch-wrap label input[type="checkbox"]:checked {
    background-color: #000;
}
.cookie-pop .switch-wrap label input[type="checkbox"]:checked::before {
    background: #fff;
    left: calc(100% - 18px);
}

@media(max-width: 768px) {
    .cookie-pop .step01 .inner {
        padding: 25px 20px 20px;
    }
    .cookie-pop .step02 .inner {
        padding: 30px 19px;
    }
}